/* CSS for the button on the home page*/

.image {
  display: inline-block;
  max-width: auto;
  margin-top: 50%;
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.center {
  position: fixed;
  margin-top: 20%;
  margin-left: 16%;
  margin-right: 15%;
}
