.App {
    background: url('./assets/images/background_image.jpg') no-repeat center fixed;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 3.5rem auto;
}

.App main {
    grid-column: 2 / 3;
    grid-row: 2;
}

.image {
  display: inline-block;
  max-width: auto;
  max-height: 50%;
  margin: auto;

  cursor: pointer;
}

img {
  display: fixed;
  max-width: 100%;
  width: 60%;
  height: auto;
}

.center {
  position: fixed;
  margin-top: 20%;
  margin-bottom: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Responsive Styling */
@media screen and (max-width: 767px) {
    .App {
        grid-template-columns: 5% auto 5%;
    }
}

@@media (min-width: 768px) {
    .App {
        margin: 3rem 0 0 0;
    }
}
