.App {
    background: url('./assets/images/background_image.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 50% 40%;
    grid-template-rows: 3.5rem auto;
}

.App main {
    grid-column: 2 / 3;
    grid-row: 2;
}

.image {
  display: inline-block;
  max-width: auto;
  max-height: 50%;
  margin: auto;

  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
  width: auto\9;
  height: auto;
}

.center {
  position: absolute;
  margin-top: 23%;
  margin-left: 17%;
  margin-right: 17%;
}

/* Responsive Styling */
@media screen and (max-width: 767px) {
    .App {
        grid-template-columns: 5% auto 5%;
    }
}
